<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <% if (username !== undefined || username === null) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Logged in as <%= username.charAt(0).toUpperCase() +
          username.slice(1) %> (<%= userRole.charAt(0).toUpperCase() +
          userRole.slice(1)%>)
        </strong>
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <% } else {%> <% } %>
        </div>
        </div>
        </div>
        <div class="container mt-3">
          <div class="row">
            <div class="col-md-6">
              <% if (messages.success) { %>
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong><%= messages.success %>
                </strong>
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } else {%> <% } %>
    </div>
  </div>
</div>


<div class="mx-auto" style="width: 300px">
  <h2>Dashboard Menu</h2>
</div>
<br />
</div>


<div class="container text-center">
  <div class="row justify-content-center mb-5">
    <div class="col-4">
      <div class="grid text-center">
        <div class="g-col-6">
          
           
          
          <div class="card" style="width: 300px; padding: 5%">
            <a class="card-block stretched-link text-decoration-none" href="/admin/item-list">
              <center>
                <img class="card-img-top" src="/icons/addData.png" alt="Card image" style="width: 100px; height: 100px" />
                </center>
                <div class="card-body">
                  <h4 class="card-title">Product Data</h4>
                  <p class="card-text">Manage product items</p>
                </div>
                </a>
                </div>
                </div>
                </div>
                </div>

                <% if (userRole === 'admin') { %>
                <div class="col-4">
                  <div class="grid text-center">
                    <div class="g-col-6">
                      <div class="card" style="width: 300px; padding: 5%">
                        <a class="card-block stretched-link text-decoration-none" href="/admin/user-list">
                          <center>
                            <img class="card-img-top" src="/icons/user.png" alt="Card image" style="width: 100px; height: 100px" />
              </center>
              <div class="card-body">
                <h4 class="card-title">List User</h4>
                <p class="card-text">Manage user access</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="grid text-center">
        <div class="g-col-6">
          <div class="card" style="width: 300px; padding: 5%">
            <a class="card-block stretched-link text-decoration-none" href="/admin/item-history">
              <center>
                <img class="card-img-top" src="/icons/history.png" alt="Card image" style="width: 100px; height: 100px" />
              </center>
              <div class="card-body">
                <h4 class="card-title">Product History</h4>
                <p class="card-text">History in/out Product</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      </div>

  </div>
  </div>
  <% } %> 